# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Flask session files
flask_session/

# macOS
.DS_Store

# IDE
.vscode/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env